@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&family=Roboto:wght@100;300;400;500&display=swap");

* {
  margin: 0;
  font-family: Poppins;
  color: #333;
}

.nav {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

button {
  color: #333;
}

button:hover {
  color: #f1356d;
}

h1 {
  color: #f1356d;
}
